---
layout: page
title: Mainak | Projects
---
<section>
	<br><br>
	{% for project in site.project %}
	{% if project.posttype == null %}
		{% unless project.next != null %}
			<span style='color:black'><h3>{{ project.date | date: '%Y' }} &#172;</h3></span>
		{% else %}
			{% capture year %}{{ project.date | date: '%Y' }}{% endcapture %}
			{% capture nyear %}{{ project.next.date | date: '%Y' }}{% endcapture %}
			{% if year != nyear %}
				<h3>{{ project.date | date: '%Y' }} &#172;</h3>
			{% endif %}
		{% endunless %}
		<ul>
			<li>
				<div class="project-date">
					<span style='color:black'><span>{{ project.date | date: "%b %d" }}</span></span>
				</div>
				<div class="title">
					<b><a href="{{ project.url | prepend: site.baseurl }}" class="projecttitle">{{ project.title }}</a></b><br><br>
				</div>
				{{ post.excerpt | remove: '<p>' | remove: '</p>' }}<br><br><br>
				<!--<b><a href="{{ post.url | prepend: site.baseurl }}">[read more]</a></b>-->
			</li>
		</ul>
		{% endif %}
	{% endfor %}

</section>

