---
layout: qqcblog
---

<section>

	{% for post in site.posts %}
	{% if post.posttype == 'quantum' %}
		{% unless post.next != null %}
			<span style='color:black'><h3>{{ post.date | date: '%Y' }} &#172;</h3></span>
		{% else %}
			{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
			{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
			{% if year != nyear %}
				<h3>{{ post.date | date: '%Y' }} &#172;</h3>
			{% endif %}
		{% endunless %}
		<ul>
			<li>
				<div class="post-date">
					<span style='color:black'><span>{{ post.date | date: "%b %d" }}</span></span>
				</div>
				<div class="title">
					<b><a href="{{ post.url | prepend: site.baseurl }}" class="posttitle">{{ post.title }}</a></b><br><br>
				</div>
				{{ post.excerpt | remove: '<p>' | remove: '</p>' }}<br><br><br>
				<!--<b><a href="{{ post.url | prepend: site.baseurl }}">[read more]</a></b>-->
			</li>
		</ul>
		{% endif %}
	{% endfor %}

</section>
