<!DOCTYPE html>
<html lang="en">

	<head>
		{% include head.html %}
	</head>

	<body>
		{% include header.html %}
				{% if page.url == '{{site.baseurl}}/index.html' or page.url == '{{site.baseurl}}' %}
					<center>
					<span style="color:black"><h3> {{ site.title }} </h3></span>
					<h5> New post every sometimes. <br>
					If I know what to write about, I don't know when I will post it. <br>
					If I know when I will post, I don't know what to write about.
					</h5>
					</center>
				{% endif %}
		<main>
			{{ content | replace: '&#8617;', '&#8617;&#xfe0e;' }}
		</main>

		{% include footer.html %}

	</body>

</html>
